// Define variables for your color scheme

// For example:
$white: #fff;
$red: #FD1015;
$blue: #0D6EFD;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;
$gray: #0E0000;

$light-gray: #F4F4F4;



$black: #000000;
$light-gray: #DDDDDD;
$sportify-darkblue: #071952;
$sportify-semidark-blue: #0B666A;
$sportify-lightblue: #35A29F;
$sportify-lightgrey: #DDDDDD;
$sportify-danger: #E74E4E;
$sportify-warning: #F5D579;
$sportify-success: #64C7E2;

// $sportify-darkblue-semi: #080F24;


$sportify-neutral-light-light: #efefef;
$sportify-neutral-dark-light: #71727A;
