// Import Google fonts
@import url('https://fonts.googleapis.com/css?family=Nunito:400,700|Work+Sans:400,700&display=swap');

// Define fonts for body and headers


// La font d'avant était
// $body-font: "Work-Sans", "Helvetica", "sans-serif";
$body-font: "Manrope", "Helvetica", "sans-serif";


// La font d'avant était
// $headers-font: "Nunito", "Helvetica", "sans-serif";
$headers-font: "Montserrat", "Helvetica", "sans-serif";

// To use a font file (.woff) uncomment following lines
// @font-face {
//   font-family: "Font Name";
//   src: font-url('FontFile.eot');
//   src: font-url('FontFile.eot?#iefix') format('embedded-opentype'),
//        font-url('FontFile.woff') format('woff'),
//        font-url('FontFile.ttf') format('truetype')
// }
// $my-font: "Font Name";

.event-title-font{
  color: var(--Color-Typography-Title, #120D26);
  text-align: center;
  font-size: 32px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

h1, h2, h3 {
  font-family: $headers-font;
}

body {
  font-family: $body-font;
  // font-weight: 250;
}

.description-font{
  font-family: "Manrope", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
}
