<div class="d-none"  >
  <% publication.comments.each do |comment| %>
  <div class="data-display-comments-target="comment">

    <%= comment.user.username %>
    <%= comment.content %>
    <%= comment.created_at %>
  </div>
  <% end %>
</div>
