  <div id="index" data-controller="pills">
    <div class="pills">
        <div class="pills-card btn btn-primary" data-action="click->pills#filter">Basketball</div>
        <div class="pills-card btn btn-primary" data-action="click->pills#filter">Padel</div>
        <div class="pills-card btn btn-primary" data-action="click->pills#filter">Tennis</div>
        <div class="pills-card btn btn-primary" data-action="click->pills#filter">Palet</div>
        <div class="pills-card btn btn-primary" data-action="click->pills#filter">Lancer de mouettes</div>
        <div class="pills-card btn btn-primary" data-action="click->pills#filter">Tir à la mouette</div>
    </div>

    <% if search_message %>
        <p>
          <%= search_message %>
        </p>
        <h2>
          Tous nos évènements
        </h2>
        <div class="horizontal-scroll-wrapper card-grid">
          <% events.each do |event| %>
            <%= render "event_card", event:event  %>
          <% end %>
        </div>
      <% else %>
        <h2>
          Spécialement pour vous
        </h2>
          <div class="horizontal-scroll-wrapper card-grid">
            <% events.each do |event| %>
              <%= render "event_card", event:event  %>
            <% end %>
          </div>
      <% end %>
  </div>
