<div style="width: 360px; height: 800px;"
  data-controller="map"
  data-map-markers-value="<%= markers.to_json %>"
  data-map-user-value="<%= user.to_json %>"
  data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
</div>
