  <%= form_with url: root_path, class:"search-bar", method: :get do %>
    <div class="search-input">
      <%= text_field_tag :query,
            params[:query],
            class: "",
            placeholder: "Je veux jouer ..."
      %>
    </div>
    <%= button_tag(type: "submit", class:"btn btn-primary btn-search") do %>
        <i class="fa-solid fa-magnifying-glass"></i>
    <% end %>
  <% end %>
