<div>
  Barre de rechercher à remplacer
</div>
<div>
  Liste de pills de sport à remplacer
</div>

<h2> Carte des évènements - Titre à enlever </h2>
<%= render "map", markers: @near_event_markers, user: @current_user %>

<h2>Près de chez vous</h2>
<div>
  <% @near_events.each do |event| %>
    <%= render "event_card", event:event  %>
  <% end %>
</div>

<h2>Vos évènements</h2>
<div class="card_light_grid">
  <% @my_events.each do |event| %>
    <%= render "event_card_light", event: event  %>
  <% end %>
</div>
