<h1> Les évènements </h1>

<h2> En tant qu'organisateur </h2>
<div class="card_light_grid">
      <% @my_events.each do |event| %>
        <%= render "event_card_light", event:event  %>
      <% end %>
</div>

<h2> En tant que participant </h2>
<div class="card_light_grid">
      <% @events_i_join.each do |event| %>
        <%= render "event_card_light", event:event  %>
      <% end %>
</div>
