<div class="position-relative d-flex flex-column align-items-center">
  <div class="container mt-3">
  <h1 class="event-title-font text-center">
    Nouvel événement
  </h1>
  <hr class="margin-bottom-10">
    <%= render "form", event: @event %>
</div>
</div>
