<div class="container d-flex flex-column h-100vh p-2 p-4 mb-4">
  <h1 class="my-4 d-flex justify-content-center">
    <strong >Nouvel événement </strong>
  </h1>
    <%= render "form", event: @event %>
</div>
