<div class="pt-4 px-2 mb-4 d-flex flex-column justify-content-center gap-2 text-center">
  <h2>Autour de vous</h2>
    <div class="map d-flex justify-content-center">
      <%= render "map", markers: @near_event_markers, user: @current_user %>
    </div>
  
  <div id="carousel" class="carousel slide mb-4" data-bs-ride="carousel">
    <div class="carousel-inner">
      <% @near_events.each do |event| %>
        <div class="carousel-item active ">
          <%= render "event_card", event:event  %>
        </div>
      <% end %>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carousel" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carousel" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
  </div>
</div>
