<div class="position-relative d-flex flex-column align-items-center">

    <div class="title-home-map">
      On joue à quoi ?
    </div>

    <div id="search-bar" style="margin-bottom: 115px">
      <%= render "search_bar" %>
    </div>

    <div class="map d-flex justify-content-center">
      <%= render "map", markers: @markers, user:current_user%>
    </div>

    <div id="toggle-map-list">
      <span>Liste</span>
      <span>Carte</span>
    </div>
</div>

<div id="slider-map">
    <div class="horizontal-scroll-wrapper card-grid">
      <% @near_events.each do |event| %>
        <%= render "event_card_light", event:event  %>
      <% end %>
    </div>
</div>
