.btn {
  display: flex;
  width: 264px;
  padding: 12px 16px;
  justify-content: center;
  align-items: center;
  gap: 8px;
  align-self: stretch;
  border-radius: 12px;
  color: $white;
  // font-family: Inter;
  font-size: $font-size-base;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
}

.arrow-btn {
  // à utiliser pour le bouton avec l'arrow (cf. svg "arrow-btn")
  width: 30px;
  height: 30px;
  flex-shrink: 0;
  border-radius: 30px;
  background-color: $sportify-semidark-blue;
}


.plus-btn {
  // à utiliser pour le bouton avec le plus (cf. svg "plus-btn")
  width: 30px;
  height: 30px;
  flex-shrink: 0;
  border-radius: 30px;
  background-color: $sportify-semidark-blue;
  display: flex;
  justify-content: center;
  align-items: center;
  i {
    color:white;
  }
}
