.btn {
  display: flex;
  width: 264px;
  padding: 12px 16px;
  justify-content: center;
  align-items: center;
  gap: 8px;
  align-self: stretch;
  border-radius: 12px;
  color: $white;
  font-size: $font-size-base;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  box-shadow: 0px 3px 3px 0px rgba(0, 0, 0, 0.25);
}

.arrow-btn {
  // à utiliser pour le bouton avec l'arrow (cf. svg "arrow-btn")
  width: 30px;
  height: 30px;
  flex-shrink: 0;
  border-radius: 30px;
  background-color: $sportify-semidark-blue;
}

.plus-btn {
  // à utiliser pour le bouton avec le plus (cf. svg "plus-btn")
  width: 30px;
  height: 30px;
  flex-shrink: 0;
  border-radius: 30px;
  background-color: $sportify-semidark-blue;
  display: flex;
  justify-content: center;
  align-items: center;
  i {
    color:white;
  }
}

.icon-btn {
  width: 30px;
  height: 30px;
  flex-shrink: 0;
  border-radius: 30px;
  background-color: $sportify-semidark-blue;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 4px;

  i {
    color: white;
  }
}

.btn-toggle {
  display: flex;
  background-color: #DDD;
  color: $white;
  border: unset;
  box-shadow: unset;
  gap: 0px;
  align-items: center;
  padding: 6px 12px;
  border-radius: 12px;
  font-size: $font-size-base;
}

.toggle-active {
  background-color: $sportify-lightblue;
  color: $white;
}

.icon-active{
    background-color: $sportify-semidark-blue;
}

.icon-unactive {
  background-color: $sportify-neutral-dark-light;
}

.unset-btn{
  width: unset;
  height: unset;
}
