.horizontal-scroll-wrapper {
  width: 360px;
  height: fit-content;
  overflow-x: scroll;
  scroll-snap-type: x mandatory;
  scroll-snap-stop: always;
  scroll-snap-align: center;
  overflow-y: hidden;
}

// CSS for big card
.card-grid {
  display: flex;
  flex-direction: row;
  gap: 1rem;
}

.card-big:first-of-type{
  margin-left:1em;
}

.card-big:last-of-type {
  margin-right: 3em;
}

.card-big {
  scroll-snap-align: center;
  width: 19rem;
  background-color: $sportify-neutral-light-light;
  border-radius: 1rem;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.625rem;

  img {
    border-top-left-radius:1rem;
    border-top-right-radius:1rem;
    height: 8rem;
    object-fit: cover;
    object-position: 50% 20%;
  }

  .pill-semidark-blue {
    top: 1rem;
    right: 1rem;
    padding: 0 0.5em ;
    border-radius: 1rem;
    width: fit-content;
    color: $white;
    background-color: $sportify-semidark-blue;
  }

  .card-content {
    height: fit-content;
    padding: 1em;
    gap:0;
      .title {
          font-size: $font-size-base;
          font-weight: 400;
          line-height: 1rem;
      }
      .details {
        color: $sportify-neutral-dark-light;
        font-size: 0.75 * $font-size-base;
      }
      .btn {
        bottom: 1rem;
      }
  }

}

.card_light_grid {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.card-feed{
  display: flex;
  justify-content: flex-end;
  width: 84%;
  background-color: $white;
  border-radius: 1rem;
  flex-direction: row;
  align-items: center;
  // flex-shrink:unset;
  // padding: 5px;
  box-shadow: 0px 20px 20px 0px rgba(90, 90, 90, 0.1);
  margin-right: 10px;

  img{
    width: 7rem;
    align-self: flex-start;
    margin: 0.9rem;
    border-radius: 0.5rem;
  }
}

.name-and-time-ago {
  font-size: 0.8rem;
}

.card-publi-photo{
  background-color: $white;
  border-radius: 1rem;
  margin: auto;
  img {
    width:90%;
    margin: auto;
  }
}

.card-publi-feed{
  width: 95%;
  // background-color: rgba(255, 255, 255, 0.7);
  // border-radius: 1rem;
  // display: flex;
  // flex-direction: row;
  // justify-content: center;
  // align-items: center;
  flex-shrink: 0;
  padding: 1rem;
  gap:1rem;
  // box-shadow: 0px 20px 20px 0px rgba(90, 90, 90, 0.1);
  list-style: none;
}

.publi-div li{
  list-style: none;
}

.publi-div{
  width: 100%;
}

.publication-img{
    width: 15rem;
    align-self: stretch;
    margin: 1rem;
  }

// .card-add-picture{
// }

.card_light {
  scroll-snap-align: center;
  position: relative;
  background-color: $white;
  border-radius: 1rem;
  width: 95%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  padding: 1rem;
  gap:1rem;
  box-shadow: 0px 20px 20px 0px rgba(90, 90, 90, 0.1);

  img {
    width: 5rem;
    align-self: stretch;
  }
}

.card_content_feed{
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 0.5rem;

  .title{
    font-size: $font-size-base * 0.9 ;
    line-height: $font-size-base * 0.8;
    font-weight: 400;
  }

  .details{
    color: $sportify-neutral-dark-light;
    font-size: 0.75 * $font-size-base;
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 0.2rem;
  }
}








.card_content_feed{
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 0.3rem;
  padding-right: 10px;

  .title{
    font-size: $font-size-base * 0.9 ;
    line-height: $font-size-base * 0.8;
    font-weight: 400;
  }

  .details{
    color: $sportify-neutral-dark-light;
    font-size: 0.75 * $font-size-base;
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 0.2rem;
  }

  p{
    line-height: 1em;
    padding: none;
  }
}

.card-details{
  font-size: small;
}

.card-details-avatar{
  font-size: 0.75em;
  margin-right: 5px;
}

.card-details-event{
  font-size: 0.65em;
  margin-inline: 3px;
}
