.horizontal-scroll-wrapper {
  width: 100%;
  height: fit-content;
  overflow-x: scroll;
  scroll-snap-type: x mandatory;
  overflow-y: hidden;
}

// CSS for big card
.card-grid {
  display: flex;
  flex-direction: row;
  gap: 1rem;
}

.card-big {
  width: 19rem;
  background-color: $sportify-neutral-light-light;
  border-radius: 1rem;
  scroll-snap-align: start;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.625rem;

  img {
    border-top-left-radius:1rem;
    border-top-right-radius:1rem;
    height: 8rem;
    object-fit: cover;
  }

  .pill-semidark-blue {
    top: 1rem;
    right: 1rem;
    padding: 0 0.5em ;
    border-radius: 1rem;
    width: fit-content;
    color: $white;
    background-color: $sportify-semidark-blue;
  }

  .card-content {
    height: fit-content;
    padding: 1em;
    gap:0;
      .title {
          font-size: $font-size-base;
          font-weight: 400;
          line-height: 1rem;
      }
      .details {
        color: $sportify-neutral-dark-light;
        font-size: 0.75 * $font-size-base;
      }
      .btn {
        bottom: 1rem;
      }
  }

}

.card_light_grid {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.card_light {
  position: relative;
  background-color: $sportify-neutral-light-light;
  border-radius: 1rem;
  width: 90%;
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
  gap: 0.2rem;
  flex-shrink: 0;
  padding: 1rem;

  img {
    width: 5rem;
    align-self: stretch;
  }
}

.card_content{
  display: flex;
  flex-direction: column;
  padding: 1rem;
  align-items: center;
  gap: 1rem;

  .title{
    font-size: $font-size-base;
    font-weight: 400;
    line-height: 1rem;
  }

  .details{
    color: $sportify-neutral-dark-light;
    font-size: 0.75 * $font-size-base;
  }
}
