// .navbar-lewagon {
//   justify-content: space-between;
//   background: white;
// }

// .navbar-lewagon .navbar-collapse {
//   flex-grow: 0;
// }

// .navbar-lewagon .navbar-brand img {
//   width: 40px;
// }


.text-icons{
  color : $white;
  font-size: small;
  text-decoration: none;
}

.nav-link-active{
  color: $sportify-lightblue;
  fill: $sportify-lightblue;
}

.nav-link{
  color: white;
  fill: white;
}

.icon{
  color : $white;
  display:flex;
  justify-content: center;
}


// New navbar



.new-navbar{
  width: 100%;
  position: fixed;
  margin: 0;
  bottom: 0;
  z-index: 1;
}


.inner-navbar-dimensions{
  display:flex;
  width:100%;
  height:100%;
}

.list-navbar-icons{
  height:100%;
  width:100%;
  top: 0;
  position: absolute;
  display: flex;
  justify-content: space-between;
  padding: 0 20px;
}

.plus-sign-navbar{
  left:50%;
  transform: translateX(-50%);
  top: -55%;
  z-index: 5;
  position: absolute;
  border-radius: 50%;
}


// Pour enlever le text-decoration des liens du texte des icones
a{
  text-decoration: unset;
}
