// .navbar-lewagon {
//   justify-content: space-between;
//   background: white;
// }

// .navbar-lewagon .navbar-collapse {
//   flex-grow: 0;
// }

// .navbar-lewagon .navbar-brand img {
//   width: 40px;
// }

.navbar-sportify {
  width: 100%;
  height: 75px;
  background-color: $sportify-darkblue;
  position: fixed;
  // position: sticky;
  bottom: 0;
  margin-bottom: 0;
  z-index: 2;
}

.position-relative{
   position: relative;
}

.icon-plus-sign{
  position: absolute;
  top: 0;
  // left: 140px;
  left: calc(50%  - 40px);
}

.icon-map {
  color:$white;
}

.text-icons{
  color : $white;
  font-size: small;
}

.nav-link-active{
  color: rgb(234, 234, 234);
  fill: rgb(234, 234, 234);
}

.nav-link{
  color: white;
  fill: white;
}

.icon{
  color : $white;
  display:flex;
  justify-content: center;
}

.white-circle{
  // background-color: rgba(255, 255, 255, 0.5);
  // background: linear-gradient(rgba(255, 255, 255, 0), rgba(255, 255, 255, 1));
  background-color: #ffffff;
  border: none;
  // -moz-border-radius: 0px 0px 100px 100px / 0px 0px 100px 100px;
  // -webkit-border-radius: 0px 0px 100px 100px / 0px 0px 100px 100px;
  // -webkit-border-top-left-radius: 0px 0px;
  // -webkit-border-top-right-radius: 0px 0px;
  // -webkit-border-bottom-right-radius: 100px 100px;
  // -webkit-border-bottom-left-radius: 100px 100px;
  // border-radius: 0px 0px 100px 100px / 0px 0px 100px 100px;
  border-radius: 50% / 0 0 100% 100%;
  // behavior: url(/css/PIE.htc);
  width: 80px;
  height: 40px;
  // border-radius: 50%;
  position: relative;
  // clip-path: ellipse(4rem 50% at top center);
  z-index: 1;

}

.plus-sign{
  position: absolute;
  top: -30px;
  left:10px ;
  z-index: 3;
}
