.pills {
  display: flex;
  width: 360px;
  padding: 16px 16px 16px 11px;
  align-items: flex-start;
  gap: 8px;
  overflow-x: scroll;
  scroll-snap-type: x mandatory;
  overflow-y: hidden;
  margin-left: 1em;
}

.pills-card {
  display: flex;
  width: fit-content;
  height: 30px;
  padding: 7px 45px 7px 45px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 150px;
  background-color: $white;
  border: 1px solid $secondary;
  scroll-snap-align: start;
  text-align: center;
  vertical-align: middle;
  color: $secondary;
  white-space: nowrap;
  font-family: $body-font;
}

.pills-card:first-of-type {
  margin-left: 1em;
}

.pills-card:last-of-type {
  margin-right: 3em;
}

.pill-participants{
  width: 295px;
  height: 60px;
  flex-shrink: 0;
  border-radius: 30px;
  background: #FEFEFF;
  box-shadow: 0px 20px 20px 0px rgba(90, 90, 90, 0.10);
  backdrop-filter: blur(10.873126983642578px);
}

.pill-semidark-blue {
  top: 70px;
  right: 0rem;
  padding: 0.2em 0.8em;
  border-bottom-left-radius: 1rem;
  border-top-left-radius: 1rem;
  width: fit-content;
  color: $white;
  background-color: $sportify-lightblue;
}

.pill-participant-on-card {
  top: 1rem;
  right: 0;
  padding: 0 0.8em;
  border-bottom-left-radius: 1rem;
  border-top-left-radius: 1rem;
  width: fit-content;
  color: $white;
  background-color: $sportify-lightblue;
}

.pill-avatar{
  margin-right: -1em;
  z-index: 1;
  border: solid 1px rgb(255, 255, 255);
  border-radius: 50%;
}

.overlap-avatar{
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}
